li{
	list-style-type: none;
	font-size: 30px;
}
ul{
	display: inline-block;
}
body{
	margin: auto;
	font-size: 24px;
	color: blue;
	max-width: 800px;
	text-align: center;
	justify-content: center;
}